<!DOCTYPE html>
<html>
<head>
	<title>我的意见</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style14.css">
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js9.js"></script>
</head>
<body>
	<form class="comment">
		<label>我的意见</label><br/><br/>
		<textarea rows="5" cols="50" name="comment"></textarea><br/><br/>
		<button type="button" id="submit">提交</button>
		<button type="reset">重置</button>
	</form>
</body>
</html>