<!DOCTYPE html>
<html>
<head>
	<title>个人空间</title>
	<meta charset="utf-8" />
	<link rel="icon" href="/images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style12.css">
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js10.js"></script>
</head>
<body>
<!-- 哆啦A梦 -->
<div class="doa" id="doa">
	<div class="close">x</div>
	<div class="head">
		<div class="face">
			<div>
				<div>
					<div></div>
				</div>
				<div>
					<div></div>
				</div>
			</div>
			<div>
				<div>
					<div></div>
				</div>
			</div>
		</div>
		
		<div class="nose">
			<div></div>
		</div>
		<div class="nose1"></div>
	</div>
	<div class="mouth">
		<div></div>
		<div></div>
	</div>
	<div class="neck">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="beard">
		<div class="left">
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="right">
			<div></div>
			<div></div>
			<div></div>
		</div>
		<span></span>
	</div>
</div>
<div class="leftRoom">
	<a name="jibenxinxi"><h2>基本信息</h2></a>
	<p style="font-family: '楷体';text-indent: 2em;font-size: 20px;">
	Hello，大家好，我叫袁二彪，海盗之侠这个名字呢，只是我觉得它比较酷酷的，所以在本博客中就用它了。大家可能对这个网站感到有点奇怪，在这里我说明一下，这个网站是我本人自己开发的，开发的目的呢，纯属娱乐，当然也希望在实战中发现自己知识上的缺失，好及时弥补。由于是我一人开发的，很多地方可能有所欠缺，不管是功能上，或者会出现Bug，也希望大家能多浏览看看，给我提一些建议，在这里谢谢大家了。</p><br/>
	<a name="jiaoyubenjing"><h2>教育背景</h2></a>
	<p style="font-family: '楷体';text-indent: 2em;font-size: 20px;">我现在就读于<a href="http://www.dlut.edu.cn" target="_blank">大连理工大学</a>（DLUT），大连理工大学位于辽宁省大连市，除了坡多一点，风大一点，物价高一点，地理位置尴尬一点，大连还是挺不错的。大家可以看一下大连的<a href="/map" target="_blank">地理位置</a>。每次回家都得先北上再南下，绕了好多。</p>
	<p style="font-family: '楷体';text-indent: 2em;font-size: 20px;">我的入学专业是建筑环境与能源应用工程，简称暖通，我个人认为这是一个比较有前景的专业，但是因为种种原因，大二时我转了专业，现在学的是信息管理与信息系统专业。简单介绍下我们专业，我们专业学的比较杂，什么管理类的，计算机编程类的，还有部分经济类的都要学，当然我偏向于编程，以后可能会从事程序这方面。如果大家想更加了解我，可以看一下<a href="/resume" target="_blank">我的简历</a>。</p><br/>
	<a name="wangzhanjieshao"><h2>网站介绍</h2></a>
	<p style="font-family: '楷体';text-indent: 2em;font-size: 20px;">本网站是我本人开发的，目的很单纯，主要是为了娱乐和锻炼自己，希望在实际动手操作中发现自己知识上的不足，从而及时弥补。本网站设计的知识主要有HTML5,CSS3,JavaScript,jQuery和Ajax，后台开发用的是node.js（其中的一个框架Express），数据库用的是Mongo数据库。这些知识由于大部分是自学的，所以掌握和领会的可能没有非常透彻。网站目前处于开发阶段，许多模块和功能并未完全实现，或者说自己不知道要包含哪些内容，不知道要写什么东西，网站发布后希望大家多多访问给我提意见。</p><br/>
	<h2 id="xingquaihao">兴趣爱好</h2>
	<p style="font-family: '楷体';text-indent: 2em;font-size: 20px;">本人兴趣比较广泛。我喜欢篮球，没事的时候经常去灌篮，虽然个子不是很高，但是在球场上不要怕，要积极地去跳跃抢篮板，现在我发现我越跳越高。我也喜欢游泳，因为感觉经常游泳皮肤会变白（嘻嘻）。跑步的话已经很久没坚持了，不是不想做而是没有了激情。</p>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>

<div class="rightRoom">
	<div class="circle"></div>
	<a href="#jibenxinxi">基本信息</a>
	<div class="scroll"></div>
	<div class="circle"></div>
	<a href="#jiaoyubenjing">教育背景</a>
	<div class="scroll"></div>
	<div class="circle"></div>
	<a href="#wangzhanjieshao">网站介绍</a>
	<div class="scroll"></div>
	<div class="circle"></div>
	<a href="#xingquaihao">兴趣爱好</a>
	<a href="#top"><div class="top">
		<div class="div1"></div>
		<div class="div2"></div>
	</div></a>
</div>


</body>
</html>