<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8" />
	<link rel="icon" href="/images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style7.css">
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/js4.js"></script>
	
</head>
<body>
	<div class="home">
		<img src="/images/海盗之侠.jpg">
		<br/>
		海盗之侠
		<hr/>
		<a href="/haidaozhixia/gerenkongjian" class="room">个人空间</a>
		<br/>
		<a href="/haidaozhixia/wenzhangliebiao" class="room">文章列表</a>
		<hr/>
		<a href="/login" id="button">+关注我</a><p><%=zan%></p>
	</div>
	<div class="comment">
		本网站还处于开发阶段，很多功能和模块还未完善，你可以给我现有的问题提出意见，也可以给我还未完善的模块提意见。谢谢大家！<br/><br/><br/>
		<div><a href="/comment">我要提意见</a></div>
	</div>
	<div class="clear"></div>

	<div class="copyright">
		&copy;copyright 大连理工大学 海盗之侠<br/>
		联系方式：Email yuanerbiao@sina.cn
	</div>
</body>
</html>