<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scaleble=no" /> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css"/>
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js7.js"></script>
</head>
<body>
	<div class="top">
		<div class="title">
			<p>博客<br/>窥探一个人的内心</p>
		</div>	
		<div class="home">
			<a href="/login" title="点击关注我"><img src="/images/海盗之侠2.jpg"/></a>
			<br/>
			<a href="/login" title="点击关注我">海盗之侠</a>
		</div>
	</div>

	<table>
		<caption><span class="left">hot news</span><a href="#" class="right">+More</a></caption>
		<tbody>
			<tr><td><a href="#">aaaaa</a></td></tr>
			<tr><td><a href="#">bbbbb</a></td></tr>
			<tr><td><a href="#">ccccc</a></td></tr>
			<tr><td><a href="#">ddddd</a></td></tr>
			<tr><td><a href="#">eeeee</a></td></tr>
			<tr><td><a href="#">eeeee</a></td></tr>
			<tr><td><a href="#">eeeee</a></td></tr>
			<tr><td><a href="#">eeeee</a></td></tr>
			<tr><td>.........</td></tr>
		</tbody>
	</table>
	
	

	<div class="list3">
		<ul>
			<li><a href="#"><img src="/images/海盗之侠.jpg"></a></li>
		</ul>
	</div>

	<div class="clear"></div>
	<footer class="footer">
		Copyright&copy版权所有 海盗之侠<br/>
		地址：辽宁省大连市大连理工大学西山生活区27舍
	</footer>
</body>
</html>