<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8" />
	<link rel="icon" href="/images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style4.css"/>
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js1.js"></script>
</head>
<body>
	<div class="heart">
		<div class="topLeft"></div>
		<div class="topRight"></div>
		<div class="bottom"></div>
	</div>
	<div class="div5">欢</div>
	<div class="div6">迎</div>
	<div class="div7">访</div>
	<div class="div8">问</div>
	<a href="/haidaozhixia">立即进入</a>
	<embed src="/music/鼓掌.wav" autostart="true" height="0px" width="0px"></embed>
	<bgsound src="/music/鼓掌.wav" autostart="true" loop="infinite" />
</body>
</html>