<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8" />
	<link rel="icon" href="/images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style5.css"/>
</head>
<body>
<form method="post" action="/login">
	<p>欢迎来到海盗之侠个人博客</p><br/>
	<label>姓名  <input type="text" placeholder='输入姓名' required="required" name="name"/></label><br/>
	<label>密码  <input type="password" placeholder="输入密码" required="required" name="password"/></label><br/>
	<button type="submit" id="denglu">登录</button>
	<button type="reset" id="chongzhi">重置</button>
	<p>还没有账号？点我进行<a href="/reg">注册</a></p>
</form>


</body>
</html>
