<!DOCTYPE html>
<html>
<head>
	<title>前端学习</title>
	<meta charset="utf-8" />
	<link rel="icon" href="images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style11.css"/>
</head>
<body>
	<div class="div1">
		<div class="div2">
			<h2>内容导航</h2><br/>
			<ol>
				<li><a href="/chapter/1">我是怎样开始前端编程的</a></li>
				<li><a href="/chapter/2">学习前端是种怎么的体验</a></li>
				<li><a href="/chapter/3">HTML常见问题之颜色</a></li>
				<li><a href="/chapter/4">HTML常见问题之alt和title属性</a></li>
				<li><a href="/chapter/5">HTML常见问题之特殊字符</a></li>
				<li><a href="/chapter/6">CSS常见问题之长度单位</a></li>
			</ol>
		</div>
	</div>
</body>
</html>