<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style9.css" />
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js6.js"></script>
</head>
<body>
<form>
	<fieldset>
		<legend>修改密码</legend>
		<span>*</span>输入原密码 <input type="password" required="required" id="password1"></input><br/>
		<span>*</span>输入新密码 <input type="password" required="required" id="password2"></input><br/>
		<span>*</span>确认新密码 <input type="password" required="required" id="password3"></input><br/>
		<button type="button">确定</button><br/>
		<span>*</span>表示必须输入<br/>
		忘记密码了？请发送邮件至<span id="lianxi">yuanerbiao@sina.cn</span>
		<br/>
		或致电<span id="lianxi">18742023940</span>
	</fieldset>
	
</form>
</body>
</html>