<!DOCTYPE html>
<html>
<head>
	<title>我的文章</title>
	<meta charset="utf-8" />
	<link rel="icon" href="/images/海盗之侠.jpg" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style10.css">
	<script type="text/javascript" src="/javascripts/jQuery.js"></script>
	<script type="text/javascript" src="/javascripts/js8.js"></script>
</head>
<body>
<a href="/qianduanxuexi">
	<div class="div3">
		<span>前端学习</span>
	</div>
</a>

<a href="/androidxuexi">
	<div class="div4">
		<span>Anroid学习</span>
	</div>
</a>
</body>
</html>