<!DOCTYPE html>
<html>
<head>
	<title>chapter3</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
</head>
<body>
	<div class="contain">
		<h2 class="title">HTML常见问题之颜色</h2>
		<br/>
		<div class="navigator">
			<a href="/haidaozhixia">首页</a>
			<a href="/haidaozhixia/gerenkongjian">个人空间</a>
			<a href="/androidxuexi">Android学习</a>
			<a href="/qianduanxuexi">返回内容导航</a>
		</div>
		<br/>
		<p class="content">HMTL中颜色表示主要是RGB模式（R表示Red,G表示Green,B表示Blue）,R、G、B的取值范围是0~255，常用十六进制表示，即0~ff。当然也可以用英文字母表示，如Red表示红色，Green表示绿色，Blue表示蓝色等。用RGB模式时，黑色表示为"#000000"，即没有颜色，所以值都为0，白色表示为"#ffffff"，也就是RGB的值也大，颜色越浅。三种颜色两两混合就是中间过渡的颜色，又叫二次三原色，红和蓝混合生成紫，红和绿混合生成黄，蓝和绿混合生成蓝绿色。</p>
		<br/><br/>
		<div class="footer">
			上一篇 <a href="/chapter/2">我是怎样开始前端编程的</a><br/> 
			下一篇 <a href="/chapter/4">HTML常见问题之alt和title属性</a>
		</div>
	</div>

</body>
</html>