<!DOCTYPE html>
<html>
<head>
	<title>chapter4</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
</head>
<body>
	<div class="contain">
		<h2 class="title">HTML常见问题之alt和title属性</h2>
		<br/>
		<div class="navigator">
			<a href="/haidaozhixia">首页</a>
			<a href="/haidaozhixia/gerenkongjian">个人空间</a>
			<a href="/androidxuexi">Android学习</a>
			<a href="/qianduanxuexi">返回内容导航</a>
		</div>
		<br/>
		<p class="content">alt属性应用于&lt;img&gt;中，当图片没有加载出来时由alt属
		性值代替图片。title属性应用于标签&lt;a&gt;中，当鼠标移至超链接上时，显示title属性值。</p>
		<br/><br/>
		<div class="footer">
			上一篇 <a href="/chapter/3">我是怎样开始前端编程的</a><br/> 
			下一篇 <a href="/chapter/5">HTML常见问题之特殊字符</a>
		</div>
	</div>

</body>
</html>