<!DOCTYPE html>
<html>
<head>
	<title>chapter1</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
</head>
<body>
	<div class="contain">
		<h2 class="title">我是怎样开始前端编程的</h2>
		<br/>
		<div class="navigator">
			<a href="/haidaozhixia">首页</a>
			<a href="/haidaozhixia/gerenkongjian">个人空间</a>
			<a href="/androidxuexi">Android学习</a>
			<a href="/qianduanxuexi">返回内容导航</a>
		</div>
		<br/>
		<p class="content">我第一次接触前端是我选的一门选修课《Web技术》，当时上课的状态是，我是谁？我在哪？我要做什么？因为之前只听说过互联网、网页之类的，但对Web一点都不了解。但是我们的选修课老师极力鼓吹编程，说编程是第一生产力，下面是我们老师编的一首诗：<i>千里求学路难寻，汪洋泛舟水如云。一年编程功盖世，天下谁人不识君。</i>我当时想多学一门技能也没啥坏处，于是去图书馆借了一本关于HTML入门的书。刚开始看，觉得比较简单，也觉得挺有意思的，点一下文字就可以链接到其他网页，还能写表单提交，也能制作表格，于是就对前端开发产生了兴趣。我觉得这是改变我人生航向的一件事了，是好是坏现在还不知道。</p>
		<br/><br/>
		<div class="footer">
			上一篇 <a href="/qianduanxuexi">返回内容导航</a><br/>
			下一篇 <a href="/chapter/2">学习前端是种怎样的体验</a>
		</div>
	</div>

</body>
</html>