<!DOCTYPE html>
<html>
<head>
	<title>chapter5</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
</head>
<body>
	<div class="contain">
		<h2 class="title">HTML常见问题之特殊字符</h2>
		<br/>
		<div class="navigator">
			<a href="/haidaozhixia">首页</a>
			<a href="/haidaozhixia/gerenkongjian">个人空间</a>
			<a href="/androidxuexi">Android学习</a>
			<a href="/qianduanxuexi">返回内容导航</a>
		</div>
		<br/>
		<p class="content">HTML中编辑文档时，经常需要编写一些特殊字符，例如
		公式符号等，这些字符是不能直接写在文本中的，必须特殊表达，否则无法正确表达。常见特殊字符如下表。</p>
		<br/>
		<table border="1px" cellspacing="0" style="margin: 0px auto;width: 30%;">
			<caption>常见特殊字符的表示</caption>
			<thead align="center">
				<tr>
					<td>字符</td>
					<td>说明</td>
					<td>实体名字</td>
					<td>十进制字符编号</td>
				</tr>
			</thead>
			<tbody align="center">
				<tr>
					<td></td>
					<td>显示一个空格</td>
					<td>&amp;nbsp;</td>
					<td>&amp;#160;</td>
				</tr>
				<tr>
					<td>&lt;</td>
					<td>小于</td>
					<td>&amp;lt;</td>
					<td>&amp;#60;</td>
				</tr>
				<tr>
					<td>&gt;</td>
					<td>大于</td>
					<td>&amp;gt;</td>
					<td>&amp;#62;</td>
				</tr>
				<tr>
					<td>&amp;</td>
					<td>&amp;符号</td>
					<td>&amp;amp;</td>
					<td>&amp;#38;</td>
				</tr>
				<tr>
					<td>&quot;</td>
					<td>双引号</td>
					<td>&amp;quot;</td>
					<td>&amp;#34;</td>
				</tr>
				<tr>
					<td>&copy;</td>
					<td>版权</td>
					<td>&amp;copy;</td>
					<td>&amp;#169;</td>
				</tr><tr>
					<td>&reg;</td>
					<td>注册商标</td>
					<td>&amp;reg;</td>
					<td>&amp;#174;</td>
				</tr>
				<tr>
					<td>&times;</td>
					<td>乘号</td>
					<td>&amp;times;</td>
					<td>&amp;#215;</td>
				</tr>
				<tr>
					<td>&divide;</td>
					<td>除号</td>
					<td>&amp;divide;</td>
					<td>&amp;#247;</td>
				</tr>
			</tbody>
		</table>
		<br/><br/>
		<div class="footer">
			上一篇 <a href="/chapter/4">我是怎样开始前端编程的</a><br/> 
			下一篇 <a href="/chapter/6">CSS常见问题之长度单位</a>
		</div>
	</div>

</body>
</html>