<!DOCTYPE html>
<html>
<head>
	<title>chapter2</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
</head>
<body>
	<div class="contain">
		<h2 class="title">学习前端是种怎么的体验</h2>
		<br/>
		<div class="navigator">
			<a href="/haidaozhixia">首页</a>
			<a href="/haidaozhixia/gerenkongjian">个人空间</a>
			<a href="/androidxuexi">Android学习</a>
			<a href="/qianduanxuexi">返回内容导航</a>
		</div>
		<br/>
		<p class="content">在我看来，前端学习和后端学习过程都差不多，但是前端需要学习更多的知识，比如你熟练掌握了Java语言，可能就可以开发出一套系统，但要想要开发出一个网站，你至少需要掌握基本语言Html，用于页面布局的Css，用于写动态操作页面的脚本的Javascript，为了提高开发效率，你可能还需要掌握jQuery和Bootstrap等框架，同时为了存储一些数据，你还需要掌握数据库知识和一定的后台语言知识。有了这些知识可能还不够，为了开发出漂亮的网页，你可能还需要掌握PhotoShop，Flash，当然还需要极高的审美。</p>
		<p class="content">相比后台开发，个人觉得前端开发更有趣，你写的代码通过浏览器就可以访问，非常方便；同时有着极强的视觉体验，能够感到成就感，并且前端是直接与用户打交道的，你自己就可以是一个用户，你可以按照你的喜好进行页面的设计。</p>
		<br/><br/>
		<div class="footer">
			上一篇 <a href="/chapter/1">我是怎样开始前端编程的</a><br/>  
			下一篇 <a href="/chapter/3">HTML常见问题之颜色</a>
		</div>
	</div>

</body>
</html>