#denglu {
	margin-left: 40px;
	margin-top: 10px;
}
#zhuce {
	margin-left: 10px;
}
#chongzhi {
	margin-left: 10px;
}
form{
	margin: 150px auto;
	background-color: #dedede;
	text-align: center;
	width: 500px;
	padding: 25px;

}