* {
	padding: 0px;
	margin:0px;
}
.home {
	float: left;
	width: 100px;
	padding-right:50px; 
	border-right: 2px solid #dedede;
	margin-left: 10px;
	margin-top: 10px;
}
.home img {
	width: 70px;
	height: 70px;
}
a {
	text-decoration: none;
}
a:hover {
	color: #3300ff;
}
#button {
	color: blue;
	background-color: #00ff11;
	border: 0px #00ff11;
	margin-top: 10px;
	height: 30px;
	width: 80px;
	font-size: 18px;
}
#button {
	cursor: pointer;
}
#p {
	color: green;
	margin-left: 10px;
}
